# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Archivos de configuración local
.env
*.env

# =========================
# Descargas / videos
# =========================
downloads/
descargas/
videos/
*.mp4
*.mkv
*.webm
*.mp3
*.m4a
*.wav
*.part
*.temp
*.tmp

# Cookies o datos sensibles
cookies.txt
*.cookies
yt_cookies.txt

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# PyInstaller / builds
# =========================
build/
dist/
*.spec